@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Lora:ital@0;1&display=swap");
:root {
	--primary-color: #f77e46;
	--ff-lora: "Lora", serif;
}

@mixin mq($arg) {
	@media screen and (max-width: $arg) {
		@content;
	}
}

body {
	background-color: #ffffff;
	margin: 0;
}

.btn-link {
	border-radius: 4px;
	padding: 0.8em 1.5em !important;
	&.primary {
		color: #ffffff;
		background-color: var(--primary-color);
	}
}

.headings {
	font-family: "Baskervville", serif;
}

#mobile-menu {
	@include mq(900px) {
		&.visible {
			visibility: visible;
			.navlist-mobile {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	visibility: hidden;
	justify-content: center;
	align-items: center;
	z-index: 4;
	&::before {
		content: "";
		height: 100%;
		width: 100%;
		position: fixed;
	}

	.navlist-mobile {
		opacity: 0;
		transition: 0.5s;
		transform: translateY(20px);
		background-color: #fef9f3;
		box-shadow: 0px 2px 6px #3e1d0e1c;
		border-radius: 5px;
		width: 40vw;
		@include mq(768px) {
			width: 45vmax;
		}
		padding: 0;
		list-style: none;
		z-index: 4;
		position: relative;

		> li {
			padding: 1.2em;
			color: #f77e46;
			.menu-icon {
				width: 25px;
				display: inline-block;
				opacity: 0;
				transition: 0.5s;
				i.fa {
					transition: 0.5s;
				}
				&.active {
					opacity: 1;
					i.fa {
						transform: rotate(90deg);
					}
				}
			}
			&:hover {
				cursor: pointer;
				.menu-icon {
					opacity: 1;
					i.fa {
						transform: rotate(90deg);
					}
				}
			}
			&:nth-child(odd) {
				background-color: #fff;
			}
		}
	}
	.close-menu {
		background-color: #fef9f3;
		box-shadow: inset -5px 5px 5px 0px #3e1d0e1c;
		color: #f77e46;
		height: 35px;
		width: 35px;
		border-radius: 50%;
		position: absolute;
		justify-content: center;
		align-items: center;
		display: flex;
		right: -10px;
		top: -12px;
		cursor: pointer;
		z-index: 10;
		i.bx {
			font-size: 1.3em;
		}
	}
}

header,
main {
	padding: 7vh 5vw;
}

.navbar {
	display: flex;
	align-items: center;

	.mobile-menu-hamburger {
		display: none;
		@include mq(900px) {
			display: block;
			margin-left: auto;
			cursor: pointer;
		}
	}

	.navlist {
		list-style: none;
		padding: 0;
		margin: 0 0 0 auto;

		@include mq(900px) {
			display: none;
		}

		li {
			position: relative;
			font-size: 16px;
			font-family: var(--ff-lora);
			display: inline-block;
			padding: 0 1.1em;

			&:last-of-type {
				padding-right: 0;
			}

			&::after {
				content: "";
				height: 5px;
				width: 5px;
				background-color: var(--primary-color);
				border-radius: 50%;
				position: absolute;
				bottom: -15px;
				left: 45%;
				transition: 0.5s;
				opacity: 0;
				transform: translateY(20px);
			}

			&.active {
				&::after {
					content: "";
					height: 5px;
					width: 5px;
					background-color: var(--primary-color);
					border-radius: 50%;
					position: absolute;
					bottom: -15px;
					left: 45%;
					opacity: 1;
					transform: translateY(0);
				}
			}

			&:hover {
				&::after {
					opacity: 1;
					transform: translateY(0px);
				}
			}
		}
	}
}

.info-section {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 3em;
	section {
		flex: 1 1 55%;
		font-family: var(--ff-lora);
		position: relative;
		align-self: center;
		top: -20px;

		h2 {
			font-size: 2.8em;
			font-weight: 100;
			color: #202020;
			margin-bottom: 0;
			@include mq(991px) {
				font-size: 2em;
			}
		}
		p {
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 33px;
			letter-spacing: 0em;
			text-align: left;
			color: #333333;
			@include mq(850px) {
				font-size: 1em;
			}
		}
		a {
			font-size: 14px;
			text-decoration: none !important;
			margin-top: 0.5em;
			padding: 1.1em 2em !important;
			display: inline-block;
		}
		~ aside {
			position: relative;
			flex: 1 1 30vw;
			.intro_img {
				width: 100%;
			}
			@include mq(768px) {
				flex-basis: 100%;
				.intro_img {
					width: 70vw;
					margin: auto;
					display: block;
				}
			}
		}
	}

	@include mq(768px) {
		&:not(:nth-child(1)) {
			margin-top: 4em !important;
		}
	}

	&:nth-child(2) {
		margin-top: 7em;
		flex-direction: row-reverse;
		gap: 10vw;

		section {
			flex-basis: 40%;
			top: 0px;
			align-self: flex-start;
			h2 {
				font-size: 2em;
				> small {
					font-size: 10px;
				}
			}
			p {
				font-size: 16px;
				line-height: 30px;
			}
		}
		@include mq(768px) {
			flex-direction: column-reverse;
			gap: unset;
			section {
				h2 {
					text-align: center;
				}
			}
		}
	}

	&:nth-child(3) {
		margin-top: 7em;
		display: block;
		section {
			width: 100%;
			top: 0px;
			h2 {
				font-weight: 100;
				text-align: center;
				font-size: 2em;
				> small {
					font-size: 10px;
				}
			}
			.card-grid {
				margin-top: 2.5em;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				@include mq(768px) {
					grid-template-columns: repeat(1, 1fr);
				}
				gap: 2em;
				.card {
					background-color: #fef9f3;
					border-radius: 30px;
					padding: 3em;
					img {
						max-height: 40px;
					}
					h3 {
						font-weight: 100;
						font-size: 20px;
					}
					p {
						line-height: 30px;
						font-size: 16px;
						margin: 0;
					}
				}
			}
		}
	}

	&:nth-child(4) {
		margin-top: 7em;
		section {
			top: 0px;
			h2 {
				font-size: 2em;
				> small {
					font-size: 10px;
				}
			}
			p {
				font-size: 16px;
			}
			a {
				border: 1px solid var(--primary-color);
				text-decoration: none !important;
				color: var(--primary-color);
				text-transform: uppercase;
				transition: 0.5s;
				border-radius: 3px;
				&:hover {
					background-color: var(--primary-color);
					color: #ffffff;
				}
			}
		}

		aside {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: 0fr;
			.four-sections {
				color: #333333;
				text-align: center;
				padding: 1.3em 1.5em;
				@include mq(768px) {
					padding: 0.8em;
				}
				h3 {
					font-weight: lighter;
					font-family: "Libre Baskerville", serif;
					font-size: 2.3em;
					margin: 0;
					padding-top: 15px;
				}
				p {
					font-size: 16px;
					font-family: var(--ff-lora);
				}
				&:nth-child(1),
				&:nth-child(3) {
					border-right: 1px solid var(--primary-color);
				}
				&:nth-child(1),
				&:nth-child(2) {
					border-bottom: 1px solid var(--primary-color);
				}
			}
		}
	}

	&:nth-child(5) {
		margin-top: 7em;
		display: block;
		section {
			width: 100%;
			top: 0px;
			h2 {
				font-weight: 100;
				text-align: center;
				font-size: 2em;
				> small {
					font-size: 10px;
				}
			}
			.card-grid {
				margin-top: 2.5em;
				display: grid;
				grid-template-columns: repeat(4, minmax(10px, 1fr));

				overflow-x: auto;
				gap: 2em;
				.card {
					text-align: center;

					h5 {
						text-align: center;
						font-size: 20px;
						font-weight: 100;
						margin: 10px 0 0px;
					}
					p {
						font-size: 16px;
						margin: 0;
						font-style: italic;
						text-align: center;
					}
				}

				@include mq(1200px) {
					.card img {
						width: 18vw;
					}
				}

				@include mq(991px) {
					grid-template-columns: repeat(2, minmax(10px, 1fr));
					.card img {
						width: 30vw;
					}
				}

				@include mq(480px) {
					grid-template-columns: 1fr;
					.card img {
						width: 100%;
					}
				}
			}
		}
	}

	&:nth-child(6) {
		margin-top: 7em;
		display: block;
		section {
			width: 100%;
			top: 0px;
			h2 {
				font-weight: 100;
				text-align: center;
				font-size: 2em;
				> small {
					font-size: 10px;
				}
			}
			.card-grid {
				margin-top: 2.5em;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 2em;

				@include mq(720px) {
					grid-template-columns: 1fr;
				}
				.card {
					background-color: #fef9f3;
					border-radius: 30px;
					padding: 3em;
					p {
						padding-top: 8px;
						font-size: 16px;
						color: #333333;
					}
					h3 {
						font-size: 22px;
						font-weight: 400;
						margin-bottom: 0;
						color: #333333;
						small {
							font-size: 16px;
							margin-top: 8px;
							font-family: var(--ff-lora);
							display: block;
							font-style: italic;
						}
					}
				}
			}
		}
		.indicators {
			text-align: center;
			padding-top: 20px;
			span {
				height: 15px;
				width: 15px;
				background-color: #e2e2e2;
				border-radius: 50%;
				display: inline-block;
				margin: 0 6px;
				&.active {
					opacity: 1;
					background-color: var(--primary-color);
				}
			}
		}
	}

	&:nth-child(7) {
		margin-top: 7em;
		section {
			width: 100%;
			top: 0px;
			h2 {
				font-weight: 100;
				text-align: center;
				font-size: 2em;
				> small {
					font-size: 10px;
				}
			}
			.card-grid {
				margin-top: 2.5em;
				display: grid;
				grid-template-columns: 1fr max-content 1fr;
				row-gap: 2em;
				@include mq(768px) {
					grid-template-columns: 1fr;
				}
				.card {
					p {
						font-size: 16px;
						color: #333333;
						line-height: 30px;
						padding: 20px 0px;
					}
					.contact-info {
						p {
							padding: 0.1em 0em;
							white-space: nowrap;
							img {
								vertical-align: middle;
								margin-right: 8px;
							}
						}
					}

					&:nth-child(1) {
						padding: 0 1em;
					}

					&:nth-child(2),
					&:nth-child(3) {
						padding: 0 7vw;
						@include mq(768px) {
							padding: 0 1em;
						}
						h3 {
							margin: 0;
							font-weight: 400;
							font-size: 22px;
						}
						ul {
							list-style: none;
							padding: 0;
							li {
								padding: 1em 0em;
								color: #333333;
							}
						}
					}

					&:nth-child(3) {
						padding: 0em 0.8em;
						form {
							padding: 1.5em 0em;
							.form-group {
								margin-bottom: 1em;
								color: #333333;
								label {
									font-size: 16px;
									display: block;
									padding: 10px 0px;
								}
								.form-control {
									font-size: 16px;
									box-sizing: border-box;
									padding: 1.2em;
									width: 100%;
									outline: none !important;
									border: 1px solid #8f8f8f;
									border-radius: 10px;
									&::placeholder {
										color: #8f8f8f;
										font-family: var(--ff-lora);
									}
								}
							}
							button {
								border: none !important;
								padding: 1em 2em;
								background-color: var(--primary-color);
								color: white;
								cursor: pointer;
								border-radius: 4px;
								text-transform: uppercase;
							}
						}
					}
				}
			}
		}
	}
}

footer {
	padding: 1em 5em;

	display: flex;
	align-items: center;
	background-color: var(--primary-color);
	p {
		font-size: 16px;
		color: white;
		margin: 5px;
		font-family: var(--ff-lora);
		&:nth-child(2) {
			margin-left: auto;
			img {
				margin: 0px 1em;
				cursor: pointer;
			}
		}
	}
	@include mq(768px) {
		flex-direction: column-reverse;
		text-align: center;
		padding: 1em;
		p {
			&:nth-child(2) {
				margin-left: 0;
				img {
					margin: 0px 0.8em;
				}
			}
		}
	}
}
