.table {
  width: 100%;
  text-align: left;
  border: 1px solid rgba(17, 36, 48, 0.07);
  border-radius: 4px;
}
.table td,
.table th {
  padding: 1em 0.8em 1em;
}
.table thead > tr {
  background-color: rgba(34, 35, 91, 0.831372549);
  color: white;
}
.table td .table-link {
  text-decoration: none;
  padding: 0.7em;
  font-size: 13px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  margin-right: 7px;
  display: inline-block;
  margin: 5px auto;
  white-space: pre;
}
.table td .table-link.success {
  background-color: rgba(15, 176, 15, 0.8392156863);
}
.table td .table-link.info {
  background-color: rgba(23, 156, 227, 0.8392156863);
}
.table td .table-link.danger {
  background-color: rgba(235, 47, 47, 0.8705882353);
}
.table tbody > tr:nth-child(even) {
  background-color: rgba(34, 35, 66, 0.62);
  color: white;
}